APP_KEY=""
APP_SECRET=""
CANO=""
ACNT_PRDT_CD="01"
URL_BASE="https://openapi.koreainvestment.com:9443"

DISCORD_WEBHOOK_DAILY=""
DISCORD_WEBHOOK_SCHEDULE=""
DISCORD_WEBHOOK_MAIL=""
DISCORD_WEBHOOK_DRIVE=""
DISCORD_WEBHOOK_INVESTMENT=""
DISCORD_WEBHOOK_ASSET=""
DISCORD_WEBHOOK_URL=""

GROQ_API_KEY=""
MISTRAL_API_KEY=""
GEMINI_API_KEY=""

UPBIT_ACCESS_KEY=""
UPBIT_SECRET_KEY=""
